<%- include('./partials/header') %>

<h3>Reviews of <%= comments[0].park %>:</h3>

<a href="/parks/<%=comments[0].park_id %>"><button>Back to <%= comments[0].park %></button></a>
<%- include('./partials/listOfComments') %>


<%- include('./partials/foot') %>