<%- include('./partials/userNav') %>
<%- include('./partials/header') %>

<h3>National Parks in <%= parks[0].state %>:</h3>
<% parks.forEach((parks) => { %>
<div>
  <a href="/parks/<%= parks.id %>">
    <p><%= parks.name %></p>
  </a>
  </div>
</div>
<% }); %>

<%- include('./partials/foot') %>