<%- include('./partials/userNav') %>
<%- include('./partials/header') %>

<h3><%= park.name %></h3>
<div>
  <p><%= park.state %></p>
  <%- include('./partials/newComment')%>
</div>

<a href="/comments/<%=park.id %>"><button value="<%= park.id %>">Park reviews!</button></a>

<%- include('./partials/foot') %>