<%- include('./partials/header') %>
  <div class="columns is-centered">
      <div class="column is-half">
  <h3 class="is-size-4">
    <strong>
      <%= park.name %>
    </strong>
    <%= park.state %>
  </h3>

    <div>
      <%- include('./partials/newComment')%>
    </div>
  <br />
  <a href="/comments/<%=park.id %>">
    <button value="<%= park.id %>" class="button is-primary">Park reviews!</button>
  </a>
</div>
</div>

  <%- include('./partials/foot') %>