<%- include('./partials/header') %>

<h3><%= park.name %></h3>
<div>
  <p><%= park.state %></p>
  <%- include('./partials/newComment')%>
</div>

<%- include('./partials/allComments') %>

<%- include('./partials/foot') %>