<%- include('./partials/header') %>

<h3><strong><%= park.name %></strong> <%= park.state %></h3>
<div>
  <%- include('./partials/newComment')%>
</div>

<a href="/comments/<%=park.id %>"><button value="<%= park.id %>">Park reviews!</button></a>

<%- include('./partials/foot') %>